#user-amount-form {
    text-align: center;
}

#user-amount-input-field {
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    border: darkgray 1px solid;
    outline: none;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 40px;
}

#user-amount-submit-button {
    height: 50px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    background: rgb(177, 0, 0);
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
}

.password-input-field {
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    border: darkgray 1px solid;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
}

.submit-button {
    height: 40px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    background: lightslategrey;
    font-size: 15px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
}

#project-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#result{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.password-form {
    margin-top: 20px;
    text-align: center;
}

.password-crack-result {
    font-size: 20px;
    margin-left: 20px;
}
