#port-number-form {
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px;
}

#title {
    font-size: 50px;
    margin-left: 30px;
}

#sub-title {
    margin-left: 30px;
}

#port-number-input-field {
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
    border: darkgray 1px solid;
    outline: none;
    font-size: 20px;
}
#port-number-submit-button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
#port-number-icon {
    width: 40px;
    height: 40px;
    filter: invert(22%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

#add-button {
    height: 50px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    margin-left: 20px;
    background: rgb(255,78,57);
    cursor: pointer;
    width: 150px;
    font-size: 20px;
    visibility: hidden;
}

.password-input-field {
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    border: darkgray 1px solid;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
}

.random-button {
    height: 40px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    background: rgb(212, 182, 12);
    font-size: 15px;
    cursor: pointer;
    width: 80px;
    margin-left: 20px;
}

.submit-button {
    height: 40px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    background: rgb(53, 163, 68);
    font-size: 15px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
}

.remove-button {
    height: 40px;
    border-radius: 25px;
    color:white;
    outline: none;
    border: none;
    background: lightslategrey;
    font-size: 15px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
}

#result{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.password-form {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

.password-crack-result {
    font-size: 20px;
    margin-left: 20px;
}
